__pycache__
*.DS_Store
.vscode
*.so
*.pkl
*.egg-info
pcdet/version.py
outputs/
output/
build/
data/
debug/
debug_dataset
tmp/
ckpt/*.eval/
third_party/*
*.ply
*.npy
*.json
run.md
authorization_token.md
pcdet/ops/feature_flow/features