addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
anyio==4.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cmake==3.31.0.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
coverage==7.6.1
crcmod==1.7
cryptography==44.0.2
cycler==0.12.1
Cython==0.29.36
dataclasses==0.6
easydict==1.13
exceptiongroup==1.2.2
fastapi==0.115.12
filelock==3.14.0
fire==0.7.0
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.0
future==1.0.0
h11==0.14.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.1.0
intel-cmplr-lib-ur==2025.1.0
intel-openmp==2025.1.0
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
llvmlite==0.41.1
lmdb==1.6.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mkl-include==2025.1.0
mkl-static==2025.1.0
mmcv==1.5.0
-e git+https://github.com/open-mmlab/mmcv.git@235c0253ab8806a2a2ee6954b4258a95358497ac#egg=mmcv_full
-e git+https://github.com/balint-kiraly/streamDSGN-stereo-3d-detection.git@1919edb5bb1f00f29a294abe669aaa322ed9ee6f#egg=mmdet&subdirectory=mmdetection-v2.22.0
model-index==0.1.11
mpmath==1.3.0
networkx==3.1
ninja==1.11.1.4
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.1.105
onnx==1.7.0
onnxoptimizer==0.3.13
onnxruntime==1.19.2
opencv-python==4.11.0.86
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==2.0.3
-e git+https://github.com/balint-kiraly/streamDSGN-stereo-3d-detection.git@1919edb5bb1f00f29a294abe669aaa322ed9ee6f#egg=pcdet
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.29.4
pycocotools==2.0.2
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pyparsing==3.1.4
pytest==8.3.5
pytest-runner==6.0.1
python-dateutil==2.9.0.post0
PyTurboJPEG==1.7.7
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0.2
requests==2.28.2
rich==13.4.2
safetensors==0.5.3
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
six==1.17.0
sniffio==1.3.1
spconv @ file:///home/xrlab/streamDSGN-stereo-3d-detection/spconv/dist/spconv-1.2.1-cp38-cp38-linux_x86_64.whl#sha256=ecd5789d08c34eba2e9740c53fb8e57dba732777c388b1813331d09ecc99bff2
starlette==0.44.0
sympy==1.13.1
tabulate==0.9.0
tbb==2022.1.0
tbb-devel==2022.1.0
tcmlib==1.3.0
tensorboardX==2.6.2.2
termcolor==2.4.0
terminaltables==3.1.10
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.15
tomli==2.2.1
torch==1.7.0a0
torchvision==0.8.2
tqdm==4.65.2
triton==3.0.0
typing_extensions==4.13.2
tzdata==2025.2
umf==0.10.0
urllib3==1.26.20
uvicorn==0.33.0
yapf==0.43.0
zipp==3.20.2
setuptools~=60.2.0
spconv~=1.2.1